<header>
   <div id="wapper">
      <div class="logo">
         <a href="./index.html">Yushaku-Travel</a>
      </div>
      <div></div>
      <div class="nav">
         <ul class="navList">
            <li class="navItem"><a href="#">Home</a></li>
            <li class="navItem"><a href="./travel.html">Du lịch</a></li>
            <li class="navItem"><a href="./culture.html">Văn Hóa</a></li>
            <li class="navItem"><a href="./food.html">Ẩm thực</a></li>
            <li class="navItem"><a href="./people.html">Con người</a></li>
            <li class="navItem"><a href="./news.html">Tin tức</a></li>
         </ul>
         <div
            class="menu"
            onClick="(function(){
               document.querySelector('.navListMoblie').classList.toggle('openMenu')
            })();"
         >
            <ion-icon name="menu"></ion-icon>
         </div>
         <ul class="navListMoblie openMenu">
            <span></span>
            <li class="navItem"><a href="#">Home</a></li>
            <li class="navItem"><a href="./travel.html">Du lịch</a></li>
            <li class="navItem"><a href="./culture.html">Văn Hóa</a></li>
            <li class="navItem"><a href="./food.html">Ẩm thực</a></li>
            <li class="navItem"><a href="./people.html">Con người</a></li>
            <li class="navItem"><a href="./news.html">Tin tức</a></li>
         </ul>
      </div>
   </div>
</header>
